body {
	background-color: #222;
	color: #ccc;
	margin: auto;
	max-width: 80ch;
}

a:active  {color: #faa;}
a:hover   {background-color: #ffa;}
a:link    {color: #aaf;}
a:visited {color: #faf;}

.msg {
	background-color: #369;
	border-radius: 1ex;
	margin: auto;
	outline-width: 0.25ex;
	outline-style: solid;
	padding: 1ex;
	text-align: center;
	width: fit-content;
}

.txt {
	text-align: start;
}
